<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <!-- Improved Styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/assets/favicon.png">

    {% include head-custom.html %}
</head>
<body>
<div class="container">
    <button class="menu-toggle" onclick="toggleSidebar()">☰</button>
    <aside class="sidebar">
        <h2>{{ site.title | default: site.github.repository_name }}</h2>
        <nav>
            <ul>
                <li><a href="#installation">Installation</a></li>
                <li><a href="#local-testing">Local Testing</a></li>
                <li><a href="#deploying-the-helm-chart">Deploy Helm Chart</a></li>
                <li><a href="#verify-deployment">Verify Deployment</a></li>
            </ul>
        </nav>
    </aside>

    <main class="content">
        <header>
            {% if site.logo %}
            <img src="{{ site.logo | relative_url }}" alt="Logo" class="logo" />
            {% endif %}
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            <p>{{ site.description | default: site.github.project_tagline }}</p>
        </header>

        <section>
            {{ content }}
        </section>
    </main>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Scroll to section smoothly
        document.querySelectorAll('nav ul li a').forEach(anchor => {
            anchor.addEventListener('click', function(e) {
                e.preventDefault();
                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    });

    function toggleSidebar() {
        var sidebar = document.querySelector('.sidebar');
        sidebar.classList.toggle('open');
    }
    
</script>

</body>
</html>